# Google Analytics 4 Measurement ID
PUBLIC_GA_ID=

# Sentry
PUBLIC_SENTRY_DSN=https://45c542b8fa10ae661b490d0bddb19edf@o4511051177066496.ingest.de.sentry.io/4511051187748944
ENABLE_SENTRY=false
SENTRY_AUTH_TOKEN=